@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Rowing Webpage!</h1>
    <h2>Dive into the Rhythm, Power, and Precision of Rowing!</h2>
	<img src="~/images/rowingvictory.jpg" height="500"/>
    <br />
    <br />
    <p>
        Rowing, often referred to as crew, is a dynamic sport that combines physical endurance, technical precision, and seamless teamwork. Athletes propel slender boats—known as shells—through water using oars, synchronizing their movements to maximize speed and efficiency. The sport demands not only cardiovascular strength and muscular power but also mental focus and a deep sense of unity among team members. Rowing offers various formats, including sweep rowing, where each rower handles a single oar, and sculling, where each manages two. Competitions range from short sprints to longer head races, each testing different aspects of an athlete's capabilities.
    </p>
    <br />
    
    <p>
        Capital Crew, established in 1988, is the Sacramento State Aquatic Center's youth rowing program based on Lake Natoma in Gold River, California. Open to all high school students in the greater Sacramento area, the program has a rich history of competitive success and athlete development. Between 2015 and 2019, Capital Crew continued its tradition of excellence, training rigorously from mid-September to mid-May and competing against 32 other junior rowing programs on the West Coast. The program has been instrumental in introducing hundreds of local high school students to competitive rowing, with many alumni advancing to prominent college programs and representing the United States in elite international competitions. Notably, Folsom native Michelle Sechser began her rowing career with Capital Crew at the age of 14, eventually becoming an Olympian and inspiring future generations of rowers.
    </p>
	<img src="~/images/cambridge8.jpg" />
</div>
